POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

KC_DB_USERNAME=admin
KC_DB_PASSWORD=admin

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin

MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=admin

GATEWAY_PROFILE=docker
MINIO_PUBLIC_URL=http://localhost:9000