POSTGRES_USER=admin
POSTGRES_PASSWORD=replace_with_postgres_password

KEYCLOAK_ADMIN=kc_admin
KEYCLOAK_ADMIN_PASSWORD=replace_with_keycloak_admin_password

KC_DB_USERNAME=admin
KC_DB_PASSWORD=replace_with_keycloak_db_password

FRONTEND_URL=https://gameops-platform.dev
API_PUBLIC_URL=https://api.gameops-platform.dev
KEYCLOAK_PUBLIC_URL=https://auth.gameops-platform.dev
JWT_ISSUER_URI=https://auth.gameops-platform.dev/realms/game-realm
MINIO_PUBLIC_URL=http://YOUR_SERVER_IP:9000

MAIN_SERVICE_IMAGE=your-dockerhub-user/game-platform-main-service:main
PLAYER_PROFILE_SERVICE_IMAGE=your-dockerhub-user/game-platform-player-profile-service:main
JOINT_PURCHASE_SERVICE_IMAGE=your-dockerhub-user/game-platform-joint-purchase-service:main
NOTIFICATION_SERVICE_IMAGE=your-dockerhub-user/game-platform-notification-service:main
API_GATEWAY_IMAGE=your-dockerhub-user/game-platform-api-gateway:main
FRONTEND_IMAGE=your-dockerhub-user/game-platform-frontend:main

GATEWAY_PROFILE=docker
MAIN_SERVICE_JAVA_OPTS=-Xms256m -Xmx512m
PLAYER_PROFILE_SERVICE_JAVA_OPTS=-Xms256m -Xmx512m
JOINT_PURCHASE_SERVICE_JAVA_OPTS=-Xms256m -Xmx512m
NOTIFICATION_SERVICE_JAVA_OPTS=-Xms256m -Xmx512m
API_GATEWAY_JAVA_OPTS=-Xms256m -Xmx512m
APP_PUBLICATIONS_DEFAULT_PAGE_SIZE=10
APP_PUBLICATIONS_MAX_PAGE_SIZE=50

KC_SMTP_HOST=smtp.yandex.ru
KC_SMTP_PORT=465
KC_SMTP_FROM=noreply@example.com
KC_SMTP_FROM_DISPLAY_NAME=Game Platform
KC_SMTP_USER=noreply@example.com
KC_SMTP_PASSWORD=replace_with_smtp_password
KC_SMTP_AUTH=true
KC_SMTP_SSL=true
KC_SMTP_STARTTLS=false

MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=replace_with_minio_password

MONGO_ROOT_USERNAME=mongo_admin
MONGO_ROOT_PASSWORD=replace_with_mongo_password
