POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

KC_DB_USERNAME=admin
KC_DB_PASSWORD=admin
KC_SMTP_HOST=smtp.example.com
KC_SMTP_PORT=465
KC_SMTP_FROM=noreply@example.com
KC_SMTP_FROM_DISPLAY_NAME=Game Platform
KC_SMTP_USER=noreply@example.com
KC_SMTP_PASSWORD=replace_with_smtp_password
KC_SMTP_AUTH=true
KC_SMTP_SSL=true
KC_SMTP_STARTTLS=false

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin

MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=admin

GATEWAY_PROFILE=docker
MINIO_PUBLIC_URL=http://localhost:9000
